
header {
  line-height: 75px;
}

footer {
  line-height: 80px;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  header {
    line-height: 100px;
  }
  
  main {
    width: 79.17%;
  }  

  footer {
    width: 79.17%;
    line-height: 150px;
  }
  
}
